
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 43% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 170 43% 96.1%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 170 43% 96.1%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 246 44% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 170 30% 90%;
    --muted-foreground: 223.9 69.1% 10.2%;
    --accent: 135 48% 69%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 176 30% 80%;
    --input: 176 30% 85%;
    --ring: 246 44% 33%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 246 44% 33%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 40% 94%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 210 40% 90%;
    --sidebar-ring: 246 44% 33%;
  }
  .dark {
    --background: 220 20% 10%;
    --foreground: 0 0% 98%;
    --card: 220 20% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 44% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 20% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 135 48% 69%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 20%;
    --input: 220 20% 20%;
    --ring: 246 44% 33%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 248 39% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 248 39% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 248 39% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 248 39% 10%;
    --sidebar-ring: 248 39% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @page {
    size: A4;
    margin: 0;
  }

  @media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      background-color: white;
    }
    body * {
      visibility: hidden;
    }
    .printable-area, .printable-area * {
      visibility: visible;
    }
    .printable-area {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }
    .no-print {
      display: none;
    }
    .no-print-outline {
      outline: none !important;
    }
  }
}
